
body {
  font-family: "Roboto", sans-serif;
  margin: 5%;
}

code {
  color: red;
  background-color: lightgrey;
  padding: 1px;
}

.example{
  width:95%; 
  margin: 0 auto;
  border: 1px solid black;
}
.cell{
  max-width:30px;
  border: 1px solid black;

}
pre{
   white-space:pre-wrap;
}

/*container for custom checkbox*/
.check {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*remove default checkbox*/
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/*new box*/
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  transition-duration: 1s;
}

.check:hover input ~ .checkmark {
  background-color: #ccc;
}

.check input:checked ~ .checkmark {
  background-color: #2196F3;
  transition-duration: 2s;
}
/*display checkmark when checked*/
.check input:checked ~ .checkmark:after {
    content: "";
  position: absolute;
}
/*draw check*/
.check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

