#map {
        height: 90%;
        width: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
.gm-style-iw, .gm-style-iw-c{
-webkit-animation: fadeIn 1s; /* Chrome, Safari, Opera */
animation: fadeIn 1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}